div {
	background-color: #d996b7;
	padding: 50px;
	
}
h1, h2 {
    margin: 10px;
	padding: 20px;
	border: 0;
	text-align: justify;
	font-size: 100%;
	font: Arial;
	vertical-align: baseline;
	background-color: #99ccff;
}

body{
    	background-color: lightblue
	padding: 50px;
	
}
img.resize {
    max-width:100%; 
    height: auto;
	opacity: 0.75;
	
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
