div {
	background-color: #d996b7;
}
h1, h2 {
    margin: 10px;
	padding: 20px;
	border: 0;
	text-align: justify;
	font-size: 100%;
	font: Arial;
	vertical-align: baseline;
	background-color: #99ccff;
}

body{
    	background-color: lightblue
	padding: 50px;
	
}
